<form method="post" action="{{ path('app_manage_close_event', {'slug': event.slug}) }}"
      onsubmit="return confirm('{% trans %}event.close.confirm{% endtrans %}\r\n {% trans %}irreversible_operation{% endtrans %}');"
>
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="_token" value="{{ csrf_token('patch' ~ event.id) }}">
    <button class="btn btn-sm btn-outline-danger rounded-0">
        {{ 'event.close'|info_icon }}
        {{ 'event.close'|help_icon }}
        {% trans %}close{% endtrans %}
    </button>
</form>
