{% extends 'base.html.twig' %}

{% block title %}{% trans %}participants.assign.complete.title{% endtrans %}{% endblock %}

{% block body %}
<div>
    <div class="alert alert-success">
        <p>{% trans %}participants.assign.complete.title{% endtrans %}</p>
        <p>{% trans %}participants.assign.complete.your_id_number{% endtrans %}: <strong>{{ aid }}</strong></p>
        <br>
        <p><strong>{% trans %}participants.assign.verify.text{% endtrans %}</strong></p>
    </div>
</div>
{% endblock %}
