{% extends 'base.html.twig' %}

{% block title %}{% trans %}Zapisałeś się do listy uczestników{% endtrans %}{% endblock %}

{% block body %}
<div>
    <div class="alert alert-success">
        {% trans %}Zapis do listy uczestników zakończony sukcesem{% endtrans %}
    </div>
</div>
{% endblock %}
