<h1>{% trans %}Witaj! Zostało stworzone dla Ciebie hasło w serwisie GPVoting{% endtrans %}</h1>

<p>
    {% trans %}Potwierdź swój adres email klikając poniższy link:{% endtrans%} <br><br>
    <a href="{{ signedUrl|raw }}">{% trans %}Potwiedź mój adres email{% endtrans %}</a>.
    {% trans with { '%hours%':expiresAt|date('g')} %}Link wygaśnie w ciągu %hours% godzin.{% endtrans %}
</p>
<p>
    <strong>{% trans %}Twoje hasło to{% endtrans%}:</strong> {{ password }}
</p>

<p>
    {% trans %}Pozdrowienia{% endtrans %}
</p>
