<h1>{% trans %}register.form.email.account_created.title{% endtrans %}</h1>

<p>
    {% trans %}register.form.email.confirm.text1{% endtrans%}: <br><br>
    <a href="{{ signedUrl|raw }}">{% trans %}register.form.email.confirm.my_email{% endtrans %}</a>.
    {% trans with { '%hours%':expiresAt|date('g')} %}link_expires{% endtrans %}
</p>
<p>
    <strong>{% trans %}register.form.email.account_created.your_password{% endtrans%}:</strong> {{ password }}
</p>

<p>
    {% trans %}best_regards{% endtrans %}
</p>
