{% extends 'base.html.twig' %}

{% block title %}{% trans %}reset.request_send.title{% endtrans %}{% endblock %}

{% block body %}
    <p>{% trans with { '%hours%':tokenLifetime|date('g')} %}reset.request_send.text1{% endtrans %}</p>
    <p>{% trans %}reset.request_send.text2{% endtrans%} <a href="{{ path('app_forgot_password_request') }}">{% trans %}reset.request_send.link{% endtrans %}</a>.</p>
{% endblock %}
