<h1>{% trans %}hello{% endtrans %}</h1>

<p>
    {% trans %}reset.to_reset_click{% endtrans %}
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{% trans %}here{% endtrans %}</a>
    {% trans with { '%hours%':tokenLifetime|date('g')} %}link_expires{% endtrans %}
</p>

<p>
    {% trans %}best_regards{% endtrans %}
</p>