{% extends 'base.html.twig' %}

{% block title %}reset.title{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>{% trans %}reset.header{% endtrans %}</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                {% trans %}reset.email.small_text{% endtrans %}
            </small>
        </div>

        <button class="btn btn-primary">{% trans %}send{% endtrans %}</button>
    {{ form_end(requestForm) }}
{% endblock %}