<form method="post" action="{{ path('app_room_visible', {'slug': room.slug}) }}"
      {% if room.visible %}
      onsubmit="return confirm('{% trans %}Na pewno chcesz ukryć ten pokój?{% endtrans %}');"
      {% else %}
          onsubmit="return confirm('{% trans %}Na pewno chcesz odkryć ten pokój?{% endtrans %}');"
      {% endif %}
>
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="_token" value="{{ csrf_token('patch' ~ room.id) }}">
    <button class="btn btn-sm btn-outline-success rounded-0">
        {% if room.visible %}{% trans %}Ukryj{% endtrans %}{% else %}{% trans %}Odkryj{% endtrans %}{% endif %}
    </button>
</form>
