{% extends 'base.html.twig' %}

{% block title %}{% trans %}admin.page{% endtrans %}{% endblock %}

{% block body %}

    <h3>{% trans %}admin.page{% endtrans %}</h3>
    <div class="row">
    <div class="col-md-12 mt-2">
        <ul class="list-group">
            <li class="list-group-item"><a class="btn btn-link" href="{{ path('app_admin_create_account') }}">{% trans %}admin.create_user{% endtrans %}</a></li>
            <li class="list-group-item"><a class="btn btn-link" href="{{ path('admin_users_list') }}">{% trans %}admin.users_list{% endtrans %}</a></li>
            <li class="list-group-item"><a class="btn btn-link" href="{{ path('admin_packs_list') }}">{% trans %}admin.packs_list{% endtrans %}</a></li>
        </ul>
    </div>
    </div>
{% endblock %}
