.img-logo{
    max-width: 100px;
}

.valueSpan{
    width: 30px;
    text-align: right;
}

input:checked+label.list-group-item{
    background: #0062cc !important;
    color: #fff;
}

.rounded-left-0{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.vote-box{
    border:1px solid black;
    width: 30px;
    padding: 5px;
    height: 30px;
    font-size:14px;
    text-align: center;
    background: #eee;
    align-content: center;
    vertical-align: center;
}
.vote-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}