<form method="post" action="{{ path('app_manage_meeting_voting_delete', {'id':voting.id}) }}"
      onsubmit="return confirm('{% trans %}Na pewno chcesz usunąć to głosowanie?{% endtrans %}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ voting.id) }}">
    <button class="btn btn-sm btn-dark rounded-left-0">{% trans %}Usuń{% endtrans %}</button>
</form>
