<form method="post" action="{{ path('app_manage_general_meeting_duplicate', {'id':meeting.id}) }}"
      onsubmit="return confirm('{% trans %}general_meeting.duplicate.confirm{% endtrans %}');">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="_token" value="{{ csrf_token('patch' ~ meeting.id) }}">
    <button class="btn btn-sm btn-outline-dark rounded-left-0">
        {{ 'general_meeting.duplicate'|info_icon }}
        {{ 'general_meeting.duplicate'|help_icon }}
        {% trans %}general_meeting.duplicate.button{% endtrans %}
    </button>
</form>
