{% extends 'base.html.twig' %}

{% block title %}{% trans %}general_meeting.text{% endtrans %}: {{ meeting.name }}{% endblock %}

{% block body %}

    <div>
        <div class="alert alert-danger text-center">
            <h3 class="py-3 mb-0">{% trans %}general_meeting.permission_denied{% endtrans %}</h3>
        </div>
    </div>
{% endblock %}