{% if meeting.status==0 %}
    <button class="btn btn-sm btn-dark" id="btn-gm-begin" data-href="{{ path('app_manage_general_meeting_begin', {'id':meeting.id}) }}">{% trans %}Rozpocznij{% endtrans %}</button>
{% elseif meeting.status==1 %}
    <button class="btn btn-sm btn-dark" id="btn-gm-end" data-href="{{ path('app_manage_general_meeting_end', {'id':meeting.id}) }}">{% trans %}Zakończ{% endtrans %}</button>
{% else %}
    {% trans %}Zgromadzenie zakończone{% endtrans %}
{% endif %}