{% if meeting.status==0 %}
    <form method="post" action="{{ path('app_manage_general_meeting_begin', {'id':meeting.id}) }}"
          onsubmit="return confirm('{% trans %}Na pewno chcesz rozpocząć to zgromadzenie?{% endtrans %}');">
        <input type="hidden" name="_method" value="PATCH">
        <input type="hidden" name="_token" value="{{ csrf_token('patch' ~ meeting.id) }}">
        <button class="btn btn-sm btn-dark rounded-left-0">{% trans %}Rozpocznij{% endtrans %}</button>
    </form>
{% elseif meeting.status==1 %}
    <form method="post" action="{{ path('app_manage_general_meeting_end', {'id':meeting.id}) }}"
          onsubmit="return confirm('{% trans %}Na pewno chcesz zakończyć to zgromadzenie?{% endtrans %}');">
        <input type="hidden" name="_method" value="PATCH">
        <input type="hidden" name="_token" value="{{ csrf_token('patch' ~ meeting.id) }}">
        <button class="btn btn-sm btn-dark rounded-left-0">{% trans %}Zakończ{% endtrans %}</button>
    </form>
{% else %}
    {% trans %}Zgromadzenie zakończone{% endtrans %}
{% endif %}