<form method="post" action="{{ path('app_manage_end_session',{slug:polling.slug}) }}" onsubmit="return confirm('{% trans %}session.settings.end.confirm{% endtrans %}');">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="_token" value="{{ csrf_token('patch' ~ polling.id) }}">
    <button class="btn btn-sm btn-outline-danger rounded-0" {% if polling.settings.answerEnd > date() %}disabled{% endif %}>
        {{ 'session.settings.end'|info_icon }}
        {{ 'session.settings.end'|help_icon }}
        {% trans %}session.settings.end.button{% endtrans %}
    </button>
</form>
