{% extends 'base.html.twig' %}

{% block title %}{% trans %}session.users_list{% endtrans %}{% endblock %}

{% block body %}
    <h4>{% trans %}session.users_list{% endtrans %}</h4>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans %}name{% endtrans %}</th>
            <th>{% trans %}session.last_activity{% endtrans %}</th>
            <th>{% trans %}session.address_ip{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.date|date('d/m/Y H:i') }}</td>
                <td>{{ user.ip }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
