<h1>{% trans %}Witaj! Na Twój adres email zostało stworzone konto uczestnika w GPVoting Online!{% endtrans %}</h1>

<p>{% trans %}Przesyłamy Ci automatycznie wygenerowane hasło, którego możesz użyć do zalogowania aby móc wziąć udział w Walnym zgromadzeniu{% endtrans%}</p>
<p>{% trans %}Hasło:{% endtrans %}: <strong>{{ password }}</strong></p>
<p>{% trans %}Link do Walnego zgromadzenia oraz jego termin, zostanie przesłany przez organizatora{% endtrans %}</p>

<p>
    {% trans %}Pozdrawiamy{% endtrans %},<br>
    {% trans %}Zespół GPVoting{% endtrans %}
</p>
