<h1>{% trans %}email.participant_verification.header{% endtrans %}</h1>

<p>{{ 'email.participant_verify.text'|trans }}</p>
<p><a href="{{ domain ~ path('app_participant_verify',{hash}) }}">{{ domain ~ path('app_participant_verify',{hash}) }}</a></p>

<p>
    {% trans %}greatings{% endtrans %},<br>
    {% trans %}gpvoting_team{% endtrans %}
</p>
