<h1>{% trans %}email.participant_password.header{% endtrans %}</h1>

<p>{% trans %}email.participant_password.text1{% endtrans%}</p>
<p>{% trans %}password{% endtrans %}: <strong>{{ password }}</strong></p>
<p>{% trans %}email.participant_password.text2{% endtrans %}</p>

<p>
    {% trans %}greatings{% endtrans %},<br>
    {% trans %}gpvoting_team{% endtrans %}
</p>
